In [1]:
import sqlite3

con = sqlite3.connect('frota.db')
frota = con.cursor()

In [4]:
#Criando a tabela dos carros
frota.execute(''' CREATE TABLE IF NOT EXISTS veiculos (ID INTEGER, Modelo TEXT, Categoria TEXT, Disponivel BOOLEAN,
               DataUltimaRevisao DATE, DataProximaRevisao DATE, DataUltimaLegalizacao DATE, DataProximaLegalizacao DATE) ''')
con.commit()

In [5]:
#Adicionando os carros à tabela:
frota.execute(''' INSERT INTO veiculos VALUES(22214, 'Toyota Corolla', 'carro', 1, '2023-10-01', '2023-01-01', '2023-01-19', '2024-09-15' ) ''')
frota.execute(''' INSERT INTO veiculos VALUES(22314, 'Honda Civic', 'carro', 1, '2023-12-03', '2023-02-02', '2023-03-11', '2024-10-16') ''')
frota.execute(''' INSERT INTO veiculos VALUES(254414, 'Ford Focus', 'carro', 1, '2023-07-04', '2023-03-01', '2023-09-25', '2024-011-17') ''')
frota.execute(''' INSERT INTO veiculos VALUES(22224, 'Volkswagen Golf', 'carro', 1, '2023-07-07', '2023-11-12', '2023-01-19', '2024-12-18') ''')
frota.execute(''' INSERT INTO veiculos VALUES(22123, 'BMW 3 Series', 'carro', 1, '2023-08-11', '2023-11-29', '2023-02-12', '2024-07-20') ''')
frota.execute(''' INSERT INTO veiculos VALUES(22567, 'Chevrolet Cruze', 'carro', 1, '2023-10-09', '2023-11-12', '2023-06-30', '2024-01-15') ''')
frota.execute(''' INSERT INTO veiculos VALUES(22124, 'Nissan Altima', 'carro', 1, '2023-07-11', '2023-11-01', '2023-03-19', '2024-12-24') ''')
frota.execute(''' INSERT INTO veiculos VALUES(22789, 'Hyundai Elantra', 'carro', 1, '2023-10-08', '2023-11-01', '2023-04-15', '2024-07-15') ''')
frota.execute(''' INSERT INTO veiculos VALUES(22794, 'Honda CBR500R', 'moto', 1, '2023-09-01', '2023-11-01', '2023-09-09', '2024-05-15') ''')
frota.execute(''' INSERT INTO veiculos VALUES(222678, 'Suzuki GSX-R750', 'moto', 1, '2023-12-01', '2023-11-01', '2023-05-11', '2024-12-15') ''')
frota.execute(''' INSERT INTO veiculos VALUES(22345, 'BMW S 1000 RR', 'moto', 1, '2023-11-02', '2023-11-01', '2023-10-16', '2024-04-15') ''')
con.commit()

In [2]:
frota.execute("SELECT Modelo, Categoria, Disponivel FROM veiculos")
print(frota.fetchall())

[('Toyota Corolla', 'gold', 1), ('Honda Civic', 'prata', 1), ('Ford Focus', 'prata', 1), ('Volkswagen Golf', 'prata', 1), ('BMW 3 Series', 'gold', 1), ('Chevrolet Cruze', 'prata', 1), ('Nissan Altima', 'prata', 1), ('Hyundai Elantra', 'Economic', 1), ('Honda CBR500R', 'prata', 1), ('Suzuki GSX-R750', 'prata', 1), ('BMW S 1000 RR', 'Economic', 1), ('Toyota Corolla', 'Economic', 1), ('Honda Civic', 'gold', 1), ('Ford Focus', 'prata', 1), ('Volkswagen Golf', 'gold', 1), ('BMW 3 Series', 'prata', 1), ('Chevrolet Cruze', 'Economic', 1), ('Nissan Altima', 'Economic', 1), ('Hyundai Elantra', 'prata', 1), ('Honda CBR500R', 'prata', 1), ('Suzuki GSX-R750', 'gold', 1), ('BMW S 1000 RR', 'gold', 1), ('Toyota Corolla', 'Economic', 1), ('BMW S 750 RR', 'prata', 1)]

In [13]:
#Pra excluir a tabela toda
frota.execute(''' DROP TABLE veiculos ''')

In [12]:
#Alterando alguns veículos para indisponível
#Aqui me remeteu um erro mas se aplicar diretamente na base de dados, fica funcional.
frota.execute('''UPDATE veiculos SET Disponivel = 0 WHERE ID IN (23225, 254414, 22124)''')

# Salvar as alterações e fechar a conexão
con.commit()
con.close()

OperationalError: database is locked

In [3]:
#Atualizar tabela:
frota.execute('''UPDATE Veiculos SET Disponivel = 1 WHERE Disponivel = 0''')
con.commit()

OperationalError: database is locked

In [4]:
#Fechando a base de dados
con.close()